{
    "extends": [
        "stylelint-config-standard"
    ],
    "rules": {
        "at-rule-no-unknown": [
            true,
            {
                "ignoreAtRules": [
                    "tailwind",
                    "extends",
                    "apply",
                    "variants",
                    "responsive",
                    "screen"
                ]
            }
        ],
        "block-no-empty": null,
        "declaration-block-trailing-semicolon": null,
        "no-descending-specificity": null
    }
}